@import "tailwindcss";
@import "@nuxt/ui-pro";


@theme static {
  --font-sans: 'Public Sans', sans-serif;
  --breakpoint-3xl: 1920px;
}

:root {
  --ui-container: 90rem;
  --ui-primary: #9810fa;
  --ui-text: #ffffff;
  --ui-text-muted: #ffffff;
  --ui-header-height: --spacing(16);
}

/* .dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-border: var(--ui-color-neutral-900);
} */

/* Cibler le texte des boutons à l'intérieur (si ce sont des UButton) */
.nui-auth-form .nui-button {
  --button-text-color: #ffffff !important; /* Variable interne de UButton */
}